.app {
  width: 100%;
  height: 100%;
  min-height: 1024px;
  max-width: 1481px;
  margin: 0 auto;
  background: url('img/bg.jpg') no-repeat;
  border: 1px solid darkblue;
  padding: 20px 25px 35px;
  color: white;
}

.app__header {
  margin-bottom: 32px;
  &__profile-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 27px;

    .notification-icon {
      margin-right: 25px;

      &:hover, &:hover svg {
        cursor: pointer;
        transform: scale(1.06);
      }

    }
    .profile-name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 20px;
      border-left: 1px solid white;

      &__avatar {
        width: 40px;
        height: 40px;
      }

      &__name {
        margin-left: 20px;
        font-weight: 600;
      }

    }
  }

  &__title {

    .title {
      display: block;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 10px;
    }

    .path {

    }

  }

}


.app__content {

  &__main-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 30px;
    width: 100%;
    height: 128px;
    border-radius: 10px;
    background: #1A78C2;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);

    &__profile-name {
      height: 100%;
      display: flex;
      align-items: center;

      &__name {
        font-size: 30px;
        font-weight: 600;
        margin-left: 42px;
      }

    }

    &__button {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      height: 50%;

      &:hover {
        transform: scale(1.05);
      }

      &__icon {
        margin-left: 8px;
      }

    }


  }
  
  &__info-block {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
    
    &__row {
      display: flex;
      padding: 30px 75px;
      align-items: center;
      width: 100%;
      color: #000;
      border-bottom: 1px solid #CAE7FE;

      &__title {
        margin-left: 42px;
        font-size: 18px;
      }

      &.end {
        border-bottom: none;
      }

    }
    
  }

}
